<section class="section novi-bg novi-bg-img section-xl bg-default text-center" style=" padding-bottom:50px !important; padding-top:30px !important;">
    <div class="container">
        <h3>Clubs that travelled with us</h3>
        <div class="row row-70">
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#step"><img src="/Assets/images/brand-1.png" style="height:70% !important; width:70% !important; padding:10px;" title="Bonita Bay Club"></a></div>
            <div class="col-md-6 col-lg-2"><img src="/Assets/images/brand-2.png" style="height:70% !important; width:70% !important; padding:10px;" title="Grey Oaks Country Club"></div>
            <div class="col-md-6 col-lg-2"><img src="/Assets/images/brand-3.png" style="height:70% !important; width:70% !important; padding:10px;" title="Pelican Marsh Golf Club"></div>
            <div class="col-md-6 col-lg-2"><img src="/Assets/images/brand-4.png" style="height:70% !important; width:70% !important; padding:10px;" title="Pelicans Nest Golf Club"></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#kevin"><img src="/Assets/images/brand-5.png" style="height:70% !important; width:70% !important; padding:10px;" title="The Club at Mediterra"></a></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#iain"><img src="/Assets/images/brand-6.png" style="height:70% !important; width:70% !important; padding:10px;" title="Old Collier Golf Club"></a></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#michael"><img src="/Assets/images/brand-7.png" style="height:100% !important; width:70% !important; padding:10px;" title="Portland Country Club"></a></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#susan"><img src="/Assets/images/brand-8.png" style="height:90% !important; width:70% !important; padding:10px;" title="TPC Prestancia"></a></div>
            <div class="col-md-6 col-lg-2"><img src="/Assets/images/brand-9.png" style="height:90% !important; width:70% !important; padding:10px;" title="Vineyards Country Club"></div>
            <div class="col-md-6 col-lg-2"><img src="/Assets/images/brand-10.png" style="height:100% !important; width:70% !important; padding:10px;" title="Wyndemere Country Club"></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#brenda"><img src="/Assets/images/brand-11.png" style="height:70% !important; width:70% !important; padding:10px;" title="PGA National Golf Club"></a></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#mike"><img src="/Assets/images/brand-12.png" style="height:70% !important; width:70% !important; padding:10px;" title="The Cliffs"></a></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#john"><img src="/Assets/images/brand-13.png" style="height:90% !important; width:70% !important; padding:10px;" title="Kensington Country Club"></a></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#martin"><img src="/Assets/images/brand-14.png" style="height:100% !important; width:70% !important; padding:10px;" title="Lake Nona Country Club"></a></div>
            <div class="col-md-6 col-lg-2"><a href="/testimonials/all#josh"><img src="/Assets/images/brand-15.png" style="height:70% !important; width:70% !important; padding:10px;" title="Wilderness Country Club"></a></div>
            <div class="col-md-6 col-lg-2"><img src="/Assets/images/brand-16.png" style="height:100% !important; width:70% !important; padding:10px;" title="The Quarry Golf Club"></div>
        </div>
    </div>
</section>
