@page "/Account/Login"
@using IdentityModule.Domain.Entities
@using Microsoft.AspNetCore.Identity
@using MudBlazor
@using SchoolsEnterprise.Blazor.Shared.Components

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IConfiguration Configuration

<PageTitle>Log in</PageTitle>
<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<div style="text-align:center">
    <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
        <MudGrid Style="max-width:500px; margin-left:50%; transform:translate(-50%)">
        <MudItem xs="12" md="12" lg="12" xl="12">
            <div class="justify-center">
                <MudImage Src="@($"{Configuration.GetValue<string>("EmailConfiguration:logoUrl")}")" Style="width: 150px;" />
            </div>
        </MudItem>
        <MudItem xs="12" md="12" lg="12" xl="12">
            <StatusMessage Message="@errorMessage" />
            <DataAnnotationsValidator />
        </MudItem>
        <MudItem xs="12" md="12" lg="12" xl="12">
            <div class="justify-center">
                <h2>@($"{Configuration.GetValue<string>("ApplicationConfiguration:ApplicationName")} School Admin")</h2>
            </div>
        </MudItem>

        <MudItem xs="12" md="12" lg="12" xl="12">            
            <div class="justify-center">
                <MudText><strong>Please enter your login details</strong></MudText>
            </div>
        </MudItem>

         <MudItem xs="12" md="12" lg="12" xl="12">
            <div class="d-flex justify-center" style="margin-bottom:1rem;">
                <LanguageSelector2 />
            </div>
        </MudItem>

        <MudItem xs="12" md="12" lg="12" xl="12">  
        <div class="form-floating mb-3">
            <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username webauthn" aria-required="true" placeholder="name@example.com" />
            <label for="Input.Email" class="form-label">Email</label>
            <ValidationMessage For="() => Input.Email" class="text-danger" />
        </div>
        </MudItem>
        <MudItem xs="12" md="12" lg="12" xl="12">
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label for="Input.Password" class="form-label">Password</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
        </MudItem>

        <MudItem xs="12" md="12" lg="12" xl="12">
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <hr />
            <div class="d-flex flex-column">
                <span class="text-secondary mx-auto mt-2">OR</span>
                <PasskeySubmit Operation="PasskeyOperation.Request" Name="Input.Passkey" EmailName="Input.Email" class="btn btn-link mx-auto">Log in with a passkey</PasskeySubmit>
            </div>
            <hr />
            <div>
                <p>
                    <a href="Account/ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a>
                </p>
            </div>
        </MudItem>

        </MudGrid>
    </EditForm>
</div>