@page "/Account/ResetPassword"
@using IdentityModule.Domain.Entities
@using Microsoft.AspNetCore.Identity
@using MudBlazor

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

@inject IConfiguration Configuration

<PageTitle>Reset password</PageTitle>
<HeadContent>
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>
        
<div style="text-align:center">

    <EditForm Model="Input" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
        
        <MudGrid Style="max-width:500px; margin-left:50%; transform:translate(-50%)">
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div class="justify-center">
                    <MudImage Src="@($"{Configuration.GetValue<string>("EmailConfiguration:logoUrl")}")" Style="width: 150px;" />
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div class="justify-center">
                    <h2>@($"{Configuration.GetValue<string>("ApplicationConfiguration:ApplicationName")} School Admin")</h2>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <StatusMessage Message="@Message" />
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">            
                <div class="justify-center">
                    <MudText><strong>Reset your password</strong></MudText>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">  
                <input type="hidden" name="Input.Code" value="@Input.Code" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="Input.Email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">  
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                    <label for="Input.Password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">  
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                    <label for="Input.ConfirmPassword" class="form-label">Confirm password</label>
                    <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <a href="/" Class="my-4 py-2 rounded-lg btn btn-block" style="background-color: #1b6ec2; ; width:100%; color:white;">Home</a>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>