@page "/Account/ResetPasswordConfirmation"
@using ConectOne.Blazor.Layouts
@using MudBlazor

@layout CleanLayout

@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<PageTitle>Reset password confirmation</PageTitle>
<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<PageTitle>Forgot password confirmation</PageTitle>

<div style="text-align:center">
    <div class="card card-body bg-light">
        <MudGrid Style="max-width:500px; margin-left:50%; transform:translate(-50%);">
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div style="text-align:center">
                    <MudImage Src="@($"{Configuration.GetValue<string>("EmailConfiguration:logoUrl")}")" Style="width: 150px;"/>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div style="text-align:center">
                    <h2>@($"{Configuration.GetValue<string>("ApplicationConfiguration:ApplicationName")} School Admin")</h2>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div class="justify-center">

                    <h1>Reset password confirmation</h1>
                    <p role="alert">
                        Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
                    </p>
                </div>
            </MudItem>
        
            <MudItem xs="12" md="12" lg="12" xl="12">
                <a href="/" Class="my-4 py-2 rounded-lg btn btn-block" style="background-color: #1b6ec2; ; width:100%; color:white;">Home</a>
            </MudItem>
        </MudGrid>

    </div>
</div>
