@page "/Account/ForgotPassword"
@using IdentityModule.Domain.Entities
@using Microsoft.AspNetCore.Identity
@using MudBlazor

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IConfiguration Configuration;

<PageTitle>Forgot your password?</PageTitle>
<PageTitle>Forgot your password?</PageTitle>
<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<div style="text-align:center">

    <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post" class="card card-body bg-light">
        <MudGrid Style="max-width:500px; margin-left:50%; transform:translate(-50%);">
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div style="text-align:center">
                    <MudImage Src="@($"{Configuration.GetValue<string>("EmailConfiguration:logoUrl")}")" Style="width: 150px;"/>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div style="text-align:center">
                    <h2>@($"{Configuration.GetValue<string>("ApplicationConfiguration:ApplicationName")} School Admin")</h2>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div class="justify-center">
                    <MudText>Forgot you Password, please enter your email address</MudText>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label for="Input.Email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger"/>
                </div>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" xl="12">
                <MudButton ButtonType="ButtonType.Submit" Class="my-4 py-2 rounded-lg" Color="Color.Tertiary" FullWidth="true" Variant="Variant.Filled">Reset Password</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>