@page "/thank-you"
@using KiburiOnline.Blazor.Shared.Layouts

@layout WebsiteLayout

<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<section class="section novi-bg novi-bg-img section-xl bg-default text-center">
    <div class="container">
        <h3>Thank you, your enquiry was submitted.</h3>
        <div class="row justify-content-lg-center">
        </div>
    </div>
</section>

