@page "/access-denied"
@using ConectOne.Blazor.Layouts

@layout CleanLayout

<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<h3>AccessDenied</h3>