@page "/forgot-password"

@using ConectOne.Blazor.Layouts
@using MudBlazor
@using Variant = MudBlazor.Variant

@layout CleanLayout

<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<section id="content">
    <div class="container">
        <div id="main">
            <div class="d-flex justify-center" style="padding-bottom:15px;">
                <a href="/" title="Kwagga Travel - Home">
                    <MudImage Src="images/logo-default-347x65.png" Style="width: 100%;"/>
                </a>
            </div>

            <div class="text-center yellow-color box" style="font-size: 4em; font-weight: 300; line-height: 1em;">Forgot Password</div>

            <p class="light-blue-color block" style="font-size: 1.3333em; text-align:center;">Forgot your password, please enter your email address here and we will guide you to reset your password!</p>
            <div class="col-sm-12 col-md-12 col-lg-12 no-float no-padding center-block">

                <MudTextField T="string" Class="mt-3" Label="Email" Variant="Variant.Filled" Margin="Margin.Dense" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.TwoTone.AccountCircle" @bind-Value="_email" />

                <MudButton Style="background-color:#fdb714; color:black;" OnClick="ResetNowAsync" Class="my-4 py-2 rounded-lg" Color="Color.Tertiary" FullWidth="true" Variant="Variant.Filled">Reset Password</MudButton>

                <MudDivider Class="my-3"></MudDivider>

                <div class="d-flex justify-space-between">
                    <MudLink Href="/sign-up" Typo="Typo.body2">Create Account</MudLink>
                    <MudLink Href="/sign-in" Typo="Typo.body2">Use Existing Account</MudLink>
                </div>
            </div>
        </div>
    </div>
</section>
