@page "/testimonials/all"

@layout WebsiteLayout

<PageTitle>Client Testimonials | ProGolf Africa Safaris</PageTitle>

<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="index, follow" />

    <!-- (Optional) Other SEO/meta -->
    <meta name="description" content="Read real reviews from PGA pros, club managers, and members about our South Africa golf-and-safari trips—Fancourt, Pinnacle Point, Cape Town, Kruger, Big Five, and Victoria Falls." />
    <link rel="canonical" href="/testimonials/all" />
</HeadContent>

@using KiburiOnline.Blazor.Shared.Layouts
@using KiburiOnline.Blazor.Shared.Pages.Contacts
@using KiburiOnline.Blazor.Shared.Pages.Suppliers
@using KiburiOnline.Blazor.Shared.Pages.Vacations

<section class="section novi-bg novi-bg-img section-lg bg-gray-lighter text-center">
<div class="container">

<h3>Testimonials</h3>
<hr style="margin-top:50px; margin-bottom:50px;">
<div class="row row-50">


<div class="quote-default" style="max-width:100% !important;" id="martin">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-7.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">MARTIN McTERNAN</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Head Golf professional - Lake Nona Golf & Country Club</p>
    </div>


    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-14.png"></div>
        </div>
    </div>


    <div class="quote-default__text">
        <p class="q">Pro Golf Africa Safari did an incredible job in showcasing South Africa and all it has got to offer. Each place we visited was five star, including the food and accommodations. The organization and attention to detail from Pro Golf Safari is also five star. They went out of their way before and during the trip to make sure that every detail was taken care of. Thier communication with the entire group was first class. We were never unsure about what we were supposed to be doing or where we were supposed to be going. South Africa has some incredible golf courses, which we were also lucky to play. <br><br>The Links at Fancourt, where they played the 2003 Presidents Cup is one of the best courses I have ever played. Pinnacle Point is certainly the most breathtaking course I have every played with some of the most incredible views you will ever see on a golf course. We were also lucky enough to have Andrew Poole as our Tour Guide. Andrew is from Cape Town and added so much to the experience with his knowledge of South Africa. He knew exactly what we needed as a group and was very flexible in making sure we had the best possible time while we were there. South Africa is a country that should be on your bucket list, and I would highly recommend using Pro Golf Safari to deliver the experience of a lifetime.</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>



<div class="quote-default" style="max-width:100% !important;" id="step">
    <div class="quote-default__image">
                    <img src="Assets/images/testimonials-5.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">STEPHANIE & BRIAN GLASCO</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Membership Director – Bonita Bay Club - Florida</p>
    </div>


    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-1.png"></div>
        </div>
    </div>


    <div class="quote-default__text">
        <p class="q">From my initial meeting with Morne and Jaco, I was so excited to introduce this experience to our membership. Brian and I enjoyed traveling with 19 club members through the beautiful country of South Africa. Beginning at Fancourt in George, the accommodations, golf, and tours were exceptional. The time spent in Cape Town, with tours of wineries and Cape Point, was informative and absolutely stunning. You definitely need a company of this calibre to help navigate a foreign land. <br><br>The balance of blending the golf, tours and cuisine made us excited to wake up each day for our next adventure. And to end the trip of a lifetime at Lion Sands for a safari was so special. I definitely left a piece of my heart in South Africa. I enjoy sharing my experiences with local Membership Directors and urge them to meet with the Pro Golf Safaris Team to introduce this to their Club.</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="mike">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-1.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">MIKE WILLIAMS</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Head Pro - The Cliffs Communities - North Carolina</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-12.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">The quality of service from the Pro Golf Africa Safaris team and in general from all the places we encountered while in SA was just amazing. In a nutshell, our members trip to South Africa was beyond unbelievable and everyone will remember it forever. Everything went without a hitch. It was so well organized, and everything ran so smoothly. There were so many great parts of the trip from the golf, wine country, shark diving, dinners and the safari was just out of this world. <br><br>It's pretty hard to pinpoint just one or two things that stick out as just about every day had a once in a lifetime memory feel to it. The Members said that they've done great trips before and experienced great accommodation options, but nothing to this degree. I thought we could greatly impress them, but I thought it would be impossible to blow their minds with their previous travel history, but I really believe you guys did it.</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="iain">
    <div class="quote-default__image">
                    <img src="Assets/images/testimonials-2.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">IAIN MOSSMAN</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">General Manager - Old Collier Golf Club - Naples, Florida</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-6.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">It is a pleasure to write a reference for the team at Pro Golf Africa Safaris. From the beginning of the planning stages, through the entire trip, to the conclusion and follow through, it was truly a first-class South African golf and safari experience. There were a lot of moving parts to my trip – 17 couples many of whom were in the country for the first time. <br><br>Three different locations, twelve days, a jam-packed itinerary, yet planned to be seamless and unhurried. Morné Coetzer and Jaco du Preez accompanied us throughout and could not have been better hosts. They took care of all details, made introductions – we felt like "insiders", saved us expenses at every turn but above all, provided us a vacation of a lifetime.</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="josh">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-3.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">JOSH HERSHOFF</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Head Golf Professional - Wilderness CC - Naples, Florida</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-15.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">My first impression when meeting with Morne and Carl was that these gentlemen knew exactly how to plan and organize a trip for my members and myself. After planning the itinerary, we advertised our adventure as a "trip of a lifetime" and it far surpassed everyone's expectations! I've hosted quite a few of my members on trips abroad, but never have I experienced anything quite like South Africa. <br><br>Pro Golf Africa Safaris attention to detail and friendliness sets them apart from all the other travel companies. All nineteen of our group unequivocally stated that they wanted to return for another trip; that's how great a time we had and how well we were taken care of. Looking forward to our next adventure with Pro Golf Africa Safaris!</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="john">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-4.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">JOHN METZINGER</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Director of Golf - Kensington Country Club - Naples, Florida</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-13.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">Our Golf and Safari trip was an exceptional experience from start to finish. As a PGA Professional we are tasked with creating member experiences daily. To be able to secure a trip of a lifetime through Pro Golf Africa Safaris was nothing short of legendary! From the golf to the lodging, the meals to the safari, every day was perfection. Their team was first class every step of the way & I recommend them for your member experience.</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="kevin">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-6.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">KEVIN SWAN</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Director of Golf - The Club at Mediterra - Naples, Florida</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-5.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">I wholeheartedly recommend Pro Golf Africa Safaris for your next member trip to South Africa! Carl, Jaco & Morne (Owners) are fantastic to work with and cover all the details. The first-class experience begins with the planning phase as they take the time to get to know the Club and its members and then tailor the experience to them. From there, they prepare all the information packets, presentations, Q&A's and handle all the registrations making setup very easy for the professional. <br><br>Once the time to travel arrives, all expectations are blown out of the water once you set foot in South Africa. We travelled with 11 couples and every single person agreed that this trip was well above and beyond all expectations, which is hard to do! Pro Golf Africa Safaris took care of all the details, and it allowed my wife and I to enjoy the trip alongside my members. The only question you are left with after this amazing experience is, when are we going back?!</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="susan">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-7.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">SUSAN JENO</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Member of TPC Prestancia</p>
    </div>


    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-8.png"></div>
        </div>
    </div>


    <div class="quote-default__text">
        <p class="q">
            We can not stop talking about our trip! ProGolf Africa Safaris is awesome! Top notch all the way and
            beyond our expectations!! Andrew was fabulous. Very welcoming, informative, and caring. The accommodations were excellent and the staff very helpful and friendly. We have no complaints about the food either! Loved the special gifts as well! The golf was unbelievable!!! The trip to South Africa was certainly worth the wait! We appreciate all your hard work along with Carl, Morne, and Jaco. Who knows we might be back!
        </p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="brenda">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-7.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">BRENDA DIURO & RONALD PABISZ</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Members of PGA National - Florida</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-11.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">Our trip to South Africa was a TRIP OF A LIFETIME! Pro Golf Africa Safaris planned a wonderful trip for us. We were a group of 20. There was golfing, sight-seeing excursions, Big Five game drives, multiple in country air flights, and for some of us an extension to Zambia to see Victoria Falls. The coordination and planning that was required for this trip was unbelievable and everything we did went off without any problems! <br><br>The communications from Pro Golf Africa Safaris prior to our trip was tremendous. The hotel selections were 5 stars! The food everywhere we stayed was scrumptious! Our guide was very professional, extremely knowledgeable on history, and very accommodating with our group. I would recommend planning a trip with Morné and his team to everyone!</p>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="gerry">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-8.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">GERRY & MARYLOU LAWRENCE</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">Members of PGA National - Florida</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-11.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">Pro Golf Africa Safaris are absolutely the best, the crème de la crème, the ultimate in travel planning. They advertise their passion for golf and their country. They followed through by creating a memorable experience by paying attention to every detail. From the moment we landed and gathered our luggage in Johannesburg to the time we returned from our trip home we were handled by professional and very pleasant people. Our trip to South Africa was honestly the best vacation that we have ever experienced. It exceeded every expectation we had, and we are already planning our return to this beautiful country.</p>
    </div>
</div>

<div class="quote-default" style="max-width:100% !important;" id="michael">
    <div class="quote-default__image">
        <img src="Assets/images/testimonials-9.jpg" alt="" width="120" height="120" />
        <p class="blurb__title">MICHAEL STEVENS</p>
        <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90; font-weight:bold;">General Manager – Portland Country Club</p>
    </div>

    <div class="container">
        <div>
            <div class="col-md-12 col-lg-12"><img src="Assets/images/brand-7.png"></div>
        </div>
    </div>

    <div class="quote-default__text">
        <p class="q">Let me begin by saying that as one of a very few American club managers whom have had the chance to live and work in South Africa I could not wait to introduce the country to my stateside members so they could see what I came to love about South Africa. And, once I had the pleasure of meeting Morne and his staff and seeing the itinerary they had planned for them I knew that they would be in good hands. The planning, execution and follow through was incredible. <br><br> The golfing was fantastic, Cape Town showed why it is one of the most beautiful cities in the world and finally, seeing the "Big 5" in the Kruger Park was the icing on the cake. The members raved about the food, the wine, the accommodations and best of all the service that Pro Golf Safaris showed them throughout their trip. It certainly gives me great pleasure to recommend Morne and his entire team for anyone that wishes to experience South Africa at its best.</p>
    </div>
</div>

</div>
</div>

</section>

<SuppliersComponent/>

<ContactsBanner/>

<MostRequestedComponent/>