@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using IdentityModule.Domain.Entities
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MudBlazor

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>
<section id="content">
    <div class="container">
    <div id="main">
    <div class="d-flex justify-center" style="padding-bottom:15px;">
        <a href="/" title="Kwagga Travel - Home">
            <MudImage Src="images/logo-default-347x65.png" Style="width: 100%;" />
        </a>
    </div>

    <div class="text-center yellow-color box" style="font-size: 4em; font-weight: 300; line-height: 1em;">Welcome back</div>

    <p class="light-blue-color block" style="font-size: 1.3333em; text-align:center;">Please login to your account.</p>
    <div class="col-sm-12 col-md-12 col-lg-12 no-float no-padding center-block">
            
    <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
        
        <MudGrid>
            <MudItem xs="12">
                <StatusMessage Message="@errorMessage" />
                <DataAnnotationsValidator/>
                <ValidationSummary class="text-danger" role="alert"/>
            </MudItem>
            
            <MudItem xs="12">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username webauthn" aria-required="true" placeholder="name@example.com"/>
                    <label for="Input.Email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger"/>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                    <label for="Input.Password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger"/>
                </div>
            </MudItem>
        </MudGrid>

        
        <div class="checkbox mb-3">
            <label class="form-label">
                <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input"/>
                Remember me
            </label>
        </div>
        <div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
    </EditForm>
    </div>
    </div>
    </div>
</section>

@code {
    
}
