@using MudBlazor
@using Microsoft.AspNetCore.Components.Forms
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@rendermode InteractiveServer

<MudAppBar Style="background:#363835;" Fixed="true" Dense="true" Elevation="0">
        
    <MudSpacer />
    <div style="display:inline-block; font-size:13px; color:#FFF; padding-right:4px;">+27 21 913 9281 <strong>(SA)</strong> | </div>
    <div style="display:inline-block; font-size:13px; color:#FFF;">
        <a href="mailto:@Configuration["ApplicationConfiguration:SupportEmailAddress"]">
            <strong style="color:#F90">
                 @Configuration["ApplicationConfiguration:SupportEmailAddress"]
            </strong>
        </a>
    </div>
    <div style="display:inline-block; font-size:13px; color:#FFF;">
        @if (_user?.Identity is not null && _user.Identity.IsAuthenticated)
        {
            <form action="Account/Logout" method="post">
                <input type="hidden" name="ReturnUrl" value="" />
                <AntiforgeryToken />
                <button type="submit" style="padding-left:15px;"><strong style="color:white">Logout</strong></button>
            </form>
        }
        else if (Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko")
        {
            <div style="display:inline-block; font-size:13px; color:#FFF;">
                <a href="/Account/Login">
                    <span style="color:white; padding-left:5px;">  |  </span><strong style="color:white">
                        Sign-In
                    </strong>
                </a>
            </div>
        }
    </div>
</MudAppBar>