<div class="rd-navbar-wrap">
    <nav class="rd-navbar novi-bg novi-bg-img" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="69px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px">

        <div style="width:100%; height:40px; background-color: transparent; max-width: 1370px; margin-left: auto; margin-right: auto; border-bottom: 1px solid rgba(255, 255, 255, 0.2);" id="info_bar">
            <div style="float:right;">
                <div style="display:inline-block; font-size:12px; color:#FFF;">+27 21 913 9281 <strong>(South Africa)</strong></div>
                <div style="display:inline-block; font-size:12px; color:#FFF;"> | <a href="mailto:enquiries@progolfsafaris.com">enquiries@progolfsafaris.com</a> | <a href="/Account/Login">Login</a></div>
            </div>
        </div>


        <div class="rd-navbar-inner rd-navbar-search-wrap" style="background:#363835">


            <div class="rd-navbar-panel rd-navbar-search_collapsable context-dark">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>

                <div class="rd-navbar-brand">
                    <a class="brand" href="/"><img class="brand-logo-dark" src="images/logo-default-347x65.png" alt="" width="173" height="32" /><img class="brand-logo-light" src="images/logo-inverse-347x65.png" alt="" width="173" height="32" /></a>
                </div>
            </div>

            <div class="rd-navbar-nav-wrap con">
                <div class="rd-navbar-nav-wrap__element"><a class="button button-gray-light-outline" href="OP_contact.html" target="_blank">Enquire Now</a></div>
                <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/#destinations" @onclick:preventDefault="true" @onclick="@(() => NavigateToSectionAsync("\"destinations"))">Destinations</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/#packages" @onclick:preventDefault="true" @onclick="@(() => NavigateToSectionAsync("\"packages"))">Packages</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/#testimonials" @onclick:preventDefault="true" @onclick="@(() => NavigateToSectionAsync("\"testimonials"))">Testimonials</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/#team" @onclick:preventDefault="true" @onclick="@(() => NavigateToSectionAsync("\team"))">About us</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact-us">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
