@page "/forgot-password-conformation"


@using ConectOne.Blazor.Layouts
@using MudBlazor

@layout CleanLayout

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px; padding-bottom:40px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">
        <MudImage Style="width:100%" Src="images/static/ConnectLogoWhite.png"></MudImage>
    </MudPaper>
</MudPaper>

<MudGrid Class="mt-n15 pt-0">
    <MudItem xs="12">
        <MudCard Elevation="1" Class="rounded-lg py-1">
            <MudCardContent>
                <PageTitle>Forgot password confirmation</PageTitle>

                <h1>Forgot password confirmation</h1>
                <p>
                    Please check your email to reset your password, if you cant see the email in you inbox, please check your spam folder.
                </p>

                <a href="/" class="w-100 btn btn-lg btn-primary">Back to Login</a>

            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
