
<div class="loader loader-bouncing"><span>Redirecting...</span></div>

@code {

    [Inject] private NavigationManager NavigationManager { get; set; } = null!;

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/sign-in");
    }
}