@page "/forgot-password-conformation"
@using MudBlazor

<div class="d-flex justify-center pa-5">
    <MudGrid Style="max-width:800px;">
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudImage Src="/ConnectLogo.png" Style="width: 100%;" />
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudGrid Class="pt-0">
                <MudItem xs="12">
                    <MudCard Elevation="1" Class="rounded-lg py-1">
                        <MudCardContent>
                            <PageTitle>Forgot password confirmation</PageTitle>

                            <h1>Forgot password confirmation</h1>
                            <p>
                                Please check your email to reset your password, if you cant see the email in you inbox, please check your spam folder.
                            </p>

                            <MudButton Style="margin:25px;" Color="Color.Primary" Variant="Variant.Filled" Href="/">Back to Login</MudButton>

                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>

        </MudItem>
    </MudGrid>
</div>