<span id="hotels" style="margin-top:-30px;"></span>
<section class="section novi-bg novi-bg-img bg-default section-xl text-center">
<div class="container">
<h4 style="text-align:center !important; padding-bottom:30px !important; color:#666;">HOTELS AND LODGES</h4>

<div class="row row-fix">
<div class="col-sm-12 text-center group-event">

<div class="row row-fix post-event">
    <div class="col-md-6" style="padding-bottom:20px;">
        <div class="owl-carousel carousel-post-gallery carousel-slider-blog-post" data-autoplay="false" data-items="1" data-stage-padding="0" data-loop="false" data-margin="10px" data-mouse-drag="true" data-nav="true" data-dots="false" data-lightgallery="group">
            <div class="item">
                <figure>
                    <img src="images/gallery-post-fancourt1.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-fancourt2.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-fancourt3.jpg" alt="" width="886" height="668" />
                </figure>

            </div>

            <div class="item">
                <figure>
                    <img src="images/gallery-post-fancourt4.jpg" alt="" width="886" height="668" />
                </figure>

            </div>

            <div class="item">
                <figure>
                    <img src="images/gallery-post-fancourt5.jpg" alt="" width="886" height="668" />
                </figure>

            </div>

            <div class="item">
                <figure>
                    <img src="images/gallery-post-fancourt6.jpg" alt="" width="886" height="668" />
                </figure>

            </div>

            <div class="item">
                <figure>
                    <img src="images/gallery-post-fancourt7.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
        </div>

    </div>

    <div class="col-md-6 text-md-start post-event-body">
        <h4 style="color:#F90;">CITY LODGE OR TAMBO AIRPORT</h4>
        <p style="color:#F90; font-size:12px; margin-top:0px;"><em>Johannesburg</em></p>

        <p style="font-size:13px !important;">
            Conveniently located at Africa's busiest airport, the 365-room City Lodge Hotel at OR Tambo
            International Airport, allows both business and leisure travellers a convenient and comfortable
            place to rest at the end of a long flight.The hotel is walking distance to and from the airport terminal
            buildings and is adjacent to the Gautrain Airport Station.<br>
            <br>

            Business travellers will appreciate the simplicity of staying at the airport for short visits, while
            leisure travellers won't have to worry about where to stay for that one night between flights to their
            final destination. The expansive lobby lounge, displaying flight information boards; uncapped WiFi;
            three boardrooms and conference facilities for 46 guests and fitness room are just some of the
            services on offer.<br>
            <br>

            The #Café restaurant and bar are complemented by a sparkling swimming pool with deck, ideal for a
            refreshing swim in the sunshine before or after the next stage of travel. Access to a wide variety of
            retailers, restaurants and banking facilities within the airport building completes the package.
        </p>


    </div>
</div>



<hr style="margin-top:40px;">
<div class="row row-fix post-event">
    <div class="col-md-6" style="padding-bottom:20px;">
        <div class="owl-carousel carousel-post-gallery carousel-slider-blog-post" data-autoplay="false" data-items="1" data-stage-padding="0" data-loop="false" data-margin="10px" data-mouse-drag="true" data-nav="true" data-dots="false" data-lightgallery="group">
            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only1.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only2.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only3.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only4.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only5.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only6.jpg" alt="" width="886" height="668" />
                </figure>

            </div>

            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only7.jpg" alt="" width="886" height="668" />
                </figure>

            </div>

            <div class="item">
                <figure>
                    <img src="images/gallery-post-one_only8.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
        </div>

    </div>

    <div class="col-md-6 text-md-start post-event-body">
        <h4 style="color:#F90;">THE MANOR HOUSE AT FANCOURT</h4>
        <p style="color:#F90; font-size:12px; margin-top:0px;"><em>Garden Route</em></p>

        <p style="font-size:13px !important;">
            The Manor House boutique hotel is the crown of the Fancourt estate. As a National Monument, the
            Manor House presents a meticulous remodelling of its historical counterpart, the Blanco House,
            while encompassing the distinctive air of a world-class, 21st century destination. Exquisitely
            furnished and decorated with sensual metallic finishes, the Manor House offers accommodation of
            uncompromising quality.<br>
            <br>

            Fusing old-world with new-world style, its design combines modern sophistication with its original
            wooden finishes. Its luxury amenities include the stately Monty Bar, the Manor House Library, a
            private swimming pool, and the Manor House Lounge which provides an elegant setting for
            afternoon teas. The Manor House also incorporates eco-friendly design features, providing a
            refreshing outlook on contemporary travel.
        </p>


    </div>
</div>



<hr style="margin-top:40px;">
<div class="row row-fix post-event">
    <div class="col-md-6" style="padding-bottom:20px;">
        <div class="owl-carousel carousel-post-gallery carousel-slider-blog-post" data-autoplay="false" data-items="1" data-stage-padding="0" data-loop="false" data-margin="10px" data-mouse-drag="true" data-nav="true" data-dots="false" data-lightgallery="group">
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock1.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock2.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock3.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock4.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock5.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock6.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock7.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock8.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock9.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock10.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock11.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock12.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock13.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
        </div>

    </div>

    <div class="col-md-6 text-md-start post-event-body">
        <h4 style="color:#F90;">THE CAPE GRACE HOTEL</h4>
        <p style="color:#F90; font-size:12px; margin-top:0px;"><em>CAPE TOWN</em></p>

        <p style="font-size:13px !important;">
            Surrounded on three sides by water, Cape Grace has its own private quay on the Victoria & Alfred
            Waterfront. It's an ideal location, with the waterfront's shopping and restaurants just steps from the
            door. Sophisticated and infused with local charm, each of the guest rooms has a distinct décor,
            featuring antiques, hand-painted fabrics, and thoughtfully chosen African artifacts; all provide the
            convenience of iPod docking stations, flat-panel HD televisions and limited complimentary Wi-Fi.<br>
            <br>

            The buzzing Bascule bar is perfect for an aperitif before dinner at the award-winning Signal
            restaurant, which serves a heavenly array of Cape cuisine. Staying at Cape Grace is an experience in
            itself, melding the modern comforts of a Cape Town luxury hotel with traditional Cape culture. And
            there is no better position for a V&A Waterfront hotel than with Table Mountain standing sentry and
            towering over the hotel, a working harbour to one side and a multi-millionaire yacht basin on the
            other.
        </p>



    </div>
</div>


<hr style="margin-top:40px;">
<div class="row row-fix post-event">
    <div class="col-md-6" style="padding-bottom:20px;">
        <div class="owl-carousel carousel-post-gallery carousel-slider-blog-post" data-autoplay="false" data-items="1" data-stage-padding="0" data-loop="false" data-margin="10px" data-mouse-drag="true" data-nav="true" data-dots="false" data-lightgallery="group">
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock1.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock2.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock3.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock4.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock5.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock6.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock7.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock8.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock9.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock10.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock11.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock12.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
            <div class="item">
                <figure>
                    <img src="images/gallery-post-jock13.jpg" alt="" width="886" height="668" />
                </figure>

            </div>
        </div>

    </div>

    <div class="col-md-6 text-md-start post-event-body">
        <h4 style="color:#F90;">JOCK SAFARI LODGE</h4>
        <p style="color:#F90; font-size:12px; margin-top:0px;"><em>Kruger National Park</em></p>

        <p style="font-size:13px !important;">
            The concept of Jock Safari Lodge was born by the descendants of the Sir Percy Fitzpatrick and Niven
            Family. They used the funds of the trust of Sir Fitzpatrick, to build the lodge in the area close to
            where the history of Sir Percy Fitzpatrick & his dog Jock, took place. The Jock concession is the exact
            side profile of Jock the dog. In 1982 the Niven Family built a fence around the camp and that helped
            in preserving all the trees from destruction by visiting elephants.<br>
            <br>

            The conservation-conscious Niven family also planted indigenous trees within the fenced area &
            they have grown to create an ambience under a canopy of shade different to the exposed wilderness
            just outside of the lodge Morning and evening drives are performed in covered 4x4 Landrovers
            conducted by highly experienced rangers. Traversing through the reserve, the wildlife is sometimes
            staggering in its diversity. Enthralling sightings of elephants, a sea of buffalo horns rising from the
            grass as they lie resting in the growing heat as well as prides of lions, awaits one.
        </p>



    </div>
</div>





</div>
</div>
</div>
</section>

@code
{
    [Parameter] public string VacationId { get; set; } = null!;
}
