<section class="section novi-bg novi-bg-img section-xl bg-gray-lighter text-center" style="padding-top: 80px !important; padding-bottom: 80px !important; display:none;" id="packages">
    <div class="container">
        <h3>Most requested packages</h3>
        <div class="row row-50">

            <div class="col-md-6 col-xl-4">

                <article class="post-minimal" style="box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); border-radius:5px; padding:20px;">
                    <img src="Assets/images/itinerary1.jpg" alt="" width="418" height="315" />
                    <div class="post-classic-title">
                        <h6><a href="package.html">Ultimate Africa</a></h6>
                        <p style="margin-top:0px; font-size:13px !important;">South Africa | George | Cape Town | Safari</p>
                    </div>
                    <hr style="margin-top:10px !important; border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                    <p style="margin-top:10px; font-size:16px !important; color:#F90; font-weight:bold;">14 Nights</p>
                    <p style="margin-top:0px; font-size:13px !important;"><strong>Starting from $13,500</strong> <span style="font-size:10px; font-style:italic;">per person sharing</span></p>


                    <div class="post-minimal-footer"><a class="button button-link" href="package.html">View Package</a></div>
                </article>
            </div>

            <div class="col-md-6 col-xl-4">

                <article class="post-minimal" style="box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); border-radius:5px; padding:20px;">
                    <img src="Assets/images/itinerary2.jpg" alt="" width="418" height="315" />
                    <div class="post-classic-title">
                        <h6><a href="package.html">The Bucket List - 5 star all the way</a></h6>
                        <p style="margin-top:0px; font-size:13px !important;">South Africa | George | Cape Town | Safari</p>
                    </div>
                    <hr style="margin-top:10px !important; border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                    <p style="margin-top:10px; font-size:16px !important; color:#F90; font-weight:bold;">14 Nights</p>
                    <p style="margin-top:0px; font-size:13px !important;"><strong>Starting from $13,500</strong> <span style="font-size:10px; font-style:italic;">per person sharing</span></p>

                    <div class="post-minimal-footer"><a class="button button-link" href="package.html">View Package</a></div>
                </article>
            </div>

            <div class="col-md-6 col-xl-4">

                <article class="post-minimal" style="box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); border-radius:5px; padding:20px;">
                    <img src="Assets/images/itinerary3.jpg" alt="" width="418" height="315" />
                    <div class="post-classic-title">
                        <h6><a href="package.html">South Africa in true Luxury</a></h6>
                        <p style="margin-top:0px; font-size:13px !important;">South Africa | George | Cape Town | Safari</p>
                    </div>
                    <hr style="margin-top:10px !important; border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                    <p style="margin-top:10px; font-size:16px !important; color:#F90; font-weight:bold;">14 Nights</p>
                    <p style="margin-top:0px; font-size:13px !important;"><strong>Starting from $13,500</strong> <span style="font-size:10px; font-style:italic;">per person sharing</span></p>

                    <div class="post-minimal-footer"><a class="button button-link" href="package.html">View Package</a></div>
                </article>
            </div>

        </div>
    </div>
</section>