<p style="margin-top:0px; font-size:13px !important;"><strong>Golfer $14,200</strong> <span style="font-size:10px; font-style:italic;">per person sharing</span></p>
<p style="margin-top:0px; font-size:13px !important;"><strong>Non Golfer $13,700</strong> <span style="font-size:10px; font-style:italic;">per person sharing</span></p>
<hr style="margin-top:10px; margin-bottom:10px;">
<p style="margin-top:0px; font-size:13px !important;"><strong>Golfer Single $18,000</strong></p>
<p style="margin-top:0px; font-size:13px !important;"><strong>Non Golfer Single $17,500</strong></p>
<hr style="margin-top:10px; margin-bottom:10px;">