<span id="pricing" style="margin-top:-30px;"></span>
<section class="section novi-bg novi-bg-img bg-default section-xl text-center">
    <div class="container">

        <div class="row row-fix row-60">

            <div class="col-sm-12 text-center group-event">

                <div class="row row-fix row-30 post-event">

                    <h4 style="text-align:center !important; padding-bottom:30px !important; color:#666;">PRICING - BOOKING PROCESS - PAYMENT TERMS</h4>

                    <div class="col-md-12 text-md-start post-event-body" style="text-align:left !important; margin-bottom:5px !important;">

                        <p style="margin-top:0px; font-size:13px !important;"><strong>Golfer $14,200</strong> <span style="font-size:10px; font-style:italic;">per person sharing</span></p>
                        <p style="margin-top:0px; font-size:13px !important;"><strong>Non Golfer $13,700</strong> <span style="font-size:10px; font-style:italic;">per person sharing</span></p>
                        <p style="margin-top:0px; font-size:13px !important;"><strong>Golfer Single $18,000</strong></p>
                        <p style="margin-top:0px; font-size:13px !important;"><strong>Non Golfer Single $17,500</strong></p>

                        <p style="font-size:13px !important;">
                            Full Golf Package Includes all golf and tours as stated
                            Non-Golfers Package excludes all golf but includes all tours stated and additional excursion options<br>
                            <br>

                            <strong>Excluded from the Package Price</strong><br>
                            • International flights to and from South Africa<br>
                            • Travel insurance<br>
                            • Items of a personal nature<br>
                            <br>

                            Please Note - In order to start your itinerary as scheduled, please ensure that your international flight arrives in Johannesburg no later than April 20, 2024.<br>
                            <br>

                            <strong>Booking process</strong><br>
                            Process Pro Golf Africa Safaris will manage all booking enquiries directly with each Club Member.<br>
                            Contact our team directly: E-mail: <a href="mailto:enquiries@progolfsafaris.com">enquiries@progolfsafaris.com</a> OR <a href="tel:+27 21 913 9281">Tel: +27 21 913 9281</a><br>
                            <br>

                            Please note that there is a significant time difference between South Africa and the United States. We are 6 to 7 hours ahead of the Eastern Time Zone.<br>
                            <br>

                            If sending an e-mail, please use the subject Line: <strong>PGBD105891 The Oak Club</strong>. This will ensure that we prioritize your e-mail.<br>
                            <br>

                            <strong>Payment Terms</strong><br>
                            • Availability for this tour is limited to 24 persons (12 sharing rooms) and a non-refundable reservation fee will be required to confirm your reservation<br>
                            • $500 non-refundable reservation fee per person to secure the reservation<br>
                            • 25% of the package price is payable on 21-Jun-23<br>
                            • The balance of the package price is payable on 21-Jan-24<br>
                            • Cancellation terms will be detailed on the reservation form provided<br>
                            • Terms and conditions apply and will be detailed in the reservation form
                        </p>
                    </div>

                    <div style="text-align:center !important; padding-top:30px;"><button class="button button-primary" type="submit" onclick="location.href='#book'">Book Now</button></div>

                </div>




            </div>
        </div>
        <div class="col-md-12" style="padding-top:50px;"><img src="images/main_sub_img1.jpg" alt="" width="1505" height="372"></div>
    </div>


</section>rgin-bottom:10px;">

@code
{
    [Parameter] public string VacationId { get; set; } = null!;
}