
<section class="section novi-bg novi-bg-img section-lg bg-gray-lighter text-center" style="padding-top: 50px !important;">
    <div class="container">

        <h4 style="text-align:center !important; padding-bottom:30px !important; color:#666;">REFERENCES FROM CLIENTS WHO HAVE TRAVELED WITH US</h4>
        <div class="row row-50">
            <div class="quote-default" style="max-width:100% !important;" id="iain">
                <div class="quote-default__image">
                    <img src="images/testimonials-2.jpg" alt="" width="120" height="120" />
                    <p class="blurb__title">IAIN MOSSMAN</p>
                    <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90;">General Manager - Old Collier Golf Club - Naples, Florida</p>
                </div>

                <div class="container">
                    <div>
                        <div class="col-md-12 col-lg-12"><img src="images/brand-6.png"></div>
                    </div>
                </div>

                <div class="quote-default__text">
                    <p class="q" style="font-size:11px !important;">It is a pleasure to write a reference for the team at Pro Golf Africa Safaris. From the beginning of the planning stages, through the entire trip, to the conclusion and follow through, it was truly a first-class South African golf and safari experience. There were a lot of moving parts to my trip – 17 couples many of whom were in the country for the first time. <br><br>Three different locations, twelve days, a jam-packed itinerary, yet planned to be seamless and unhurried. Morné Coetzer and Jaco du Preez accompanied us throughout and could not have been better hosts. They took care of all details, made introductions – we felt like "insiders", saved us expenses at every turn but above all, provided us a vacation of a lifetime.</p>
                </div>
            </div>
            <div class="container">
                <div class="divider"></div>
            </div>


            <div class="quote-default" style="max-width:100% !important;" id="mike">
                <div class="quote-default__image">
                    <img src="images/testimonials-1.jpg" alt="" width="120" height="120" />
                    <p class="blurb__title">MIKE WILLIAMS</p>
                    <p style="margin-top:0px; font-style:italic; font-size:14px; color:#F90;">Head Pro - The Cliffs Communities - North Carolina</p>
                </div>

                <div class="container">
                    <div>
                        <div class="col-md-12 col-lg-12"><img src="images/brand-12.png"></div>
                    </div>
                </div>

                <div class="quote-default__text">
                    <p class="q" style="font-size:11px !important;">The quality of service from the Pro Golf Africa Safaris team and in general from all the places we encountered while in SA was just amazing. In a nutshell, our members trip to South Africa was beyond unbelievable and everyone will remember it forever. Everything went without a hitch. It was so well organized, and everything ran so smoothly. There were so many great parts of the trip from the golf, wine country, shark diving, dinners and the safari was just out of this world. <br><br>It's pretty hard to pinpoint just one or two things that stick out as just about every day had a once in a lifetime memory feel to it. The Members said that they've done great trips before and experienced great accommodation options, but nothing to this degree. I thought we could greatly impress them, but I thought it would be impossible to blow their minds with their previous travel history, but I really believe you guys did it.</p>
                </div>
            </div>
            <div class="container">
            </div>

        </div>
    </div>

</section>

@code
{
    [Parameter, EditorRequired] public string VacationId { get; set; } = null!;
}