@using ConectOne.Domain.Extensions
@using MudBlazor

<style>
    .second-card {
        background-color: #1a2148;
        background-image: linear-gradient(135deg, #1a2148 50, #0061B5 100%);
    }
</style>

<div class="second-card rounded-lg" style="height:100%; vertical-align:middle !important;">
    <MudText Typo="Typo.subtitle1" Style="font-weight: 600; text-align:center; color:white !important;" Class="text-secondary">@Date?.Day @(Date?.Month is null ? "" : Date?.Month.GetAbbreviatedMonth()) <br/> @Date?.Year</MudText>
    <MudDivider></MudDivider>
    <MudText Typo="Typo.subtitle1" Style="font-weight: 600; text-align:center;" Color="@Color.Error" Class="text-secondary">@Date?.ToShortTimeString()</MudText>
</div>

@code
{
    [Parameter] public DateTime? Date { get; set; }
}
